.leaflet-container {
	width: 75vw;
	height: 50vh;
	margin: 2rem auto;
}

.distance{
    list-style: none;
    width: 10em;
    padding: 0 0.4rem;
    border-radius: 0.5rem;
    background-color: #fff;
    font-size: medium;
}

a {
    text-decoration: none;
    color: #1976d2;
}

.map {
    margin-top: 1rem;
}

.map button{
    margin-bottom: -2rem;
}

.leaflet-routing-container{ 
    display: none;
}