.form {
	margin: 0 auto;
	width: 50vw;
	max-width: 300px;
	display: flex;
	flex-direction: column;
}

#placeA,
#placeB {
	margin: 0.5rem;
}
#search {
	width: fit-content;
	margin: 0.5rem auto;
}

.last_routes ul {
	list-style: none;
}
.last_routes li{
    margin-left: -2.5rem;
}
